{
    on_demand_tls {
        ask http://localhost/internal-check
    }
}

http://d1vajlb5xnngpm.cloudfront.net {
    handle /api* {
        uri strip_prefix /api
        rewrite * /wisp{uri}

        reverse_proxy localhost:3000 {
            header_up Host {upstream_host_port}
            transport http {
                read_timeout 0
                write_timeout 0
            }
        }
    }

    handle /wisp* {
        reverse_proxy localhost:3000 {
            header_up Host {upstream_host_port}
            transport http {
                read_timeout 0
                write_timeout 0
            }
        }
    }

    @root path /

    handle @root {
        rewrite * /index.html
        root * /usr/share/caddy
        file_server
    }

    handle {
        root * /usr/share/caddy
        file_server
    }

    handle_errors {
        rewrite * /404.html
        root * /usr/share/caddy
        file_server
    }
}

:443 {
    @tooLong header_regexp Host ^.{61,}$

    @hasSus {
        header Host *whm*
        header Host *cpanel*
        header Host *login*
    }

    handle @tooLong {
        header Content-Type "text/plain"
        respond "this link was disabled bc you generated a malware, sus, or just down right bad subdomain, stop abusing my BYOD system, this is to generate good links, NOT WHM EXPLOITS" 493
    }

    handle @hasSus {
        header Content-Type "text/plain"
        respond "this link was disabled bc you generated a malware, sus, or just down right bad subdomain, stop abusing my BYOD system, this is to generate good links, NOT WHM EXPLOITS" 493
    }

    @cloudfront {
        host d1vajlb5xnngpm.cloudfront.net
    }

    handle @cloudfront {
        handle /api* {
            uri strip_prefix /api
            rewrite * /wisp{uri}

            reverse_proxy localhost:3000 {
                header_up Host {upstream_host_port}
                transport http {
                    read_timeout 0
                    write_timeout 0
                }
            }
        }

        handle /wisp* {
            reverse_proxy localhost:3000 {
                header_up Host {upstream_host_port}
                transport http {
                    read_timeout 0
                    write_timeout 0
                }
            }
        }

        @cloudfrontRoot path /

        handle @cloudfrontRoot {
            rewrite * /index.html
            root * /usr/share/caddy
            file_server
        }

        handle {
            root * /usr/share/caddy
            file_server
        }
    }

    handle /api* {
        uri strip_prefix /api
        rewrite * /wisp{uri}

        reverse_proxy localhost:3000 {
            header_up Host {upstream_host_port}
            transport http {
                read_timeout 0
                write_timeout 0
            }
        }
    }

    handle /wisp* {
        reverse_proxy localhost:3000 {
            header_up Host {upstream_host_port}
            transport http {
                read_timeout 0
                write_timeout 0
            }
        }
    }

    @botRoot {
        host zaka.is-a.bot
        path /
    }

    handle @botRoot {
        rewrite * /bot.html
        root * /usr/share/caddy
        file_server
    }

    @root path /

    handle @root {
        rewrite * /index.html
        root * /usr/share/caddy
        file_server
    }

    handle {
        root * /usr/share/caddy
        file_server
    }

    handle_errors {
        rewrite * /404.html
        root * /usr/share/caddy
        file_server
    }

    tls {
        on_demand
    }
}

:80 {
    @cloudfront {
        host d1vajlb5xnngpm.cloudfront.net
    }

    handle @cloudfront {
        handle /api* {
            uri strip_prefix /api
            rewrite * /wisp{uri}

            reverse_proxy localhost:3000 {
                header_up Host {upstream_host_port}
                transport http {
                    read_timeout 0
                    write_timeout 0
                }
            }
        }

        handle /wisp* {
            reverse_proxy localhost:3000 {
                header_up Host {upstream_host_port}
                transport http {
                    read_timeout 0
                    write_timeout 0
                }
            }
        }

        @cloudfrontRoot path /

        handle @cloudfrontRoot {
            rewrite * /index.html
            root * /usr/share/caddy
            file_server
        }

        handle {
            root * /usr/share/caddy
            file_server
        }
    }

    @localhost {
        header Host localhost*
    }

    handle @localhost {
        root * /usr/share/caddy
        file_server
    }

    @localhostIP {
        header Host 127.0.0.1*
    }

    handle @localhostIP {
        root * /usr/share/caddy
        file_server
    }

    @private10 {
        header Host 10.*
    }

    handle @private10 {
        root * /usr/share/caddy
        file_server
    }

    @private192 {
        header Host 192.168.*
    }

    handle @private192 {
        root * /usr/share/caddy
        file_server
    }

    @private172 {
        header_regexp Host ^172\.(1[6-9]|2[0-9]|3[0-1])\.
    }

    handle @private172 {
        root * /usr/share/caddy
        file_server
    }

    redir https://{host}{uri} permanent
}

http://localhost {
    respond /internal-check 200
}
